:root {
    --green: #90EE90
}

.light-mode {
    --background-color: #ffffff;
    --font-color: #121212;
}

.dark-mode {
    --background-color: #121212;
    --font-color: #ffffff;
}

body {
    margin: 0px;
    font-family: 'Inconsolata', monospace;
}

button {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Inconsolata', monospace;
}

select {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Inconsolata', monospace;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.page-loading-text {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}

/*for some reason, the markdown component is playing up with local css...*/
.markdown-contents table {
    border-collapse: collapse;
}
.markdown-contents th, td {
    border: 1px solid var(--font-color);
}
.markdown-contents img {
    max-width: 100%;
}
