@using System.Reflection
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Services

<Router AppAssembly="@typeof(Program).Assembly">
    <Navigating>
        <div class="page-loading-text">
            <h1>BC's blog</h1>
            <p>                
                ⌛ Loading website<a class="loading-spinner"></a><a class="loading-spinner"></a><a class="loading-spinner"></a>
            </p>
        </div>
    </Navigating>
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
}
