/* /Home/Index.razor.rz.scp.css */
.content[b-359qpjt91s] {
    padding-top: 1.1rem;
}
/* /Shared/Footer.razor.rz.scp.css */
.footer-container[b-gvtmglbr7o] {
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: lightgreen;
}

.source-code-button[b-gvtmglbr7o] {
    height: 50px;
    border: hidden;
    background-color: white;
    cursor: pointer;
    min-width: fit-content;
    z-index: 1;
    font-size: 1.2em;
    float: right;
    display: flex;
    align-items: center;
}

    .source-code-button *[b-gvtmglbr7o] {
        margin: 0 5px 0 5px;
    }
/* /Shared/Header.razor.rz.scp.css */
header[b-d8tbz6w8ht] {
    width: 100%;
    position: relative;
    background-color: white;
    border-bottom: solid;
    border-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
}

.logo-container[b-d8tbz6w8ht] {
    height: 50px;
}

.logo[b-d8tbz6w8ht] {
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

nav[b-d8tbz6w8ht] {
    display: flex;
    align-items: center;
}

.nav-button[b-d8tbz6w8ht] {
    min-width: fit-content;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 1.2em;
    border: hidden;
    background-color: white;
    cursor: pointer;
}

    .nav-button[b-d8tbz6w8ht]:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .nav-button[b-d8tbz6w8ht]:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: lightgreen;
        transition: all .3s;
        z-index: -1;
    }

    .nav-button:hover[b-d8tbz6w8ht] {
        color: #fff;
    }

        .nav-button:hover[b-d8tbz6w8ht]:before {
            width: 100%;
        }
/* /Shared/MainLayout.razor.rz.scp.css */
.container[b-5sn7flarxt] {
    min-height: 100vh;
}

.main[b-5sn7flarxt] {
    padding-bottom: 50px;
}
