/* /About/About.razor.rz.scp.css */
.about-container[b-ytffqlzly3] {
}

.about-image[b-ytffqlzly3] {
    max-width: 200px;
    float: right;
    margin: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .spacer[b-ytffqlzly3] {
        height: 0;
    }
}

.extra-splitter[b-ytffqlzly3] {
    border: none;
    border-top: solid var(--green);
}

.about-extra-container[b-ytffqlzly3] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}

.samuel-johnson-container[b-ytffqlzly3] {
    min-height: 120px;
    contain: content;
}

.samuel-johnson-quote[b-ytffqlzly3] {
    text-align: center;
    vertical-align: middle;
}

.samuel-johnson-image[b-ytffqlzly3] {
    max-width: 100px;
    float: left;
    border-radius: 50%;
}
/* /About/AboutSummary.razor.rz.scp.css */
.about-container[b-y6cm1bcxkq] {
    display: flex;
    justify-content: space-evenly;
}

.about-image[b-y6cm1bcxkq] {
    max-width: 200px;
    float: right;
    margin: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .spacer[b-y6cm1bcxkq] {
        height: 0;
    }
}
/* /Blogs/Blogs.razor.rz.scp.css */
/* /Blogs/BlogSummary.razor.rz.scp.css */
.summary-container[b-jf9tc8rt7u] {
    padding: 10px;
    border-top: solid;
    border-color: var(--green);
    cursor: pointer;
}

.name-text[b-jf9tc8rt7u] {
    font-weight: bold;
    font-size: 1.15em;
}

.description-text[b-jf9tc8rt7u] {
    font-size: 1em;
}
/* /Blogs/BlogWidget.razor.rz.scp.css */
.is-limited[b-4grcggpj67] {
    cursor: pointer;
}
/* /Blogs/IndividualBlog.razor.rz.scp.css */
.project-not-found[b-3ic48d5n5w] {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}
/* /Home/Home.razor.rz.scp.css */
.content[b-6vpnm4whpw] {
    padding-top: 1.1rem;
}

.widget-container[b-6vpnm4whpw] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}

.resources-widget[b-6vpnm4whpw] {
    display: flex;
}

.resources-search[b-6vpnm4whpw] {
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
/* /Markdown/MarkdownComponent.razor.rz.scp.css */
.markdown-contents .*[b-0zwz1lqz6q] {
    max-width: 100%;
}
/* /Projects/IndividualProject.razor.rz.scp.css */
.project-not-found[b-80hklbke03] {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}

.source-code-button[b-80hklbke03] {
    height: 50px;
    border: hidden;
    background-color: var(--background-color);
    cursor: pointer;
    min-width: fit-content;
    z-index: 1;
    font-size: 1.2em;
    float: right;
    display: flex;
    align-items: center;
}

    .source-code-button *[b-80hklbke03] {
        margin: 0 5px 0 5px;
    }

.github-logo[b-80hklbke03] {
    background: white;
    border-radius: 50%;
    border: solid 2px white;
}
/* /Projects/Projects.razor.rz.scp.css */
/* /Projects/ProjectSummary.razor.rz.scp.css */
.summary-container[b-uka8hmpxh6] {
    padding: 10px;
    border-top: solid;
    border-color: var(--green);
    cursor: pointer;
}

.name-text[b-uka8hmpxh6] {
    font-weight: bold;
    font-size: 1.15em;
}

.description-text[b-uka8hmpxh6] {
    font-size: 1em;
}
/* /Projects/ProjectWidget.razor.rz.scp.css */
.is-limited[b-1q81ugmh92] {
    cursor: pointer;
}
/* /Resources/Resources.razor.rz.scp.css */
.resources-top[b-i2slopvpm2] {
    display: flex;
}

.resources-search[b-i2slopvpm2] {
    margin-left: auto;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
/* /Resources/ResourcesSearch.razor.rz.scp.css */
.resources-search-box[b-6n9j3ewqas] {
    font-size: 1rem;
    width: 100%;
    border-color: var(--green);
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    outline-width: 3px;
    outline-color: var(--green);
}
/* /Resources/ResourceSummary.razor.rz.scp.css */
.summary-container[b-enxl0y0fu0] {
    padding: 10px;
    border-top: solid;
    border-color: var(--green);
}

.name-text[b-enxl0y0fu0] {
    font-weight: bold;
    font-size: 1.15em;
}

.description-text[b-enxl0y0fu0] {
    font-size: 1em;
}

.tags[b-enxl0y0fu0] {
    font-style: italic;
    font-size: 0.8rem;
}
/* /Resources/ResourcesWidget.razor.rz.scp.css */
.is-limited[b-k0994qz1h3] {
    cursor: pointer;
}
/* /Shared/Footer.razor.rz.scp.css */
.footer-container[b-gvtmglbr7o] {
    width: 100%;
    color: var(--footer-font-color);
    background-color: var(--footer-background-color);
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: var(--green);
}

button[b-gvtmglbr7o], select[b-gvtmglbr7o], input[b-gvtmglbr7o] {
    background-color: var(--footer-background-color);
    color: var(--footer-font-color);
}

svg.font-icon[b-gvtmglbr7o] {
    fill: var(--footer-font-color);
}

.source-code-button[b-gvtmglbr7o] {
    height: 50px;
    border: hidden;
    color: var(--footer-font-color);
    background-color: var(--footer-background-color);
    cursor: pointer;
    min-width: fit-content;
    z-index: 1;
    font-size: 1.2em;
    float: right;
    display: flex;
    align-items: center;
}

    .source-code-button *[b-gvtmglbr7o] {
        margin: 0 5px 0 5px;
    }

.github-logo[b-gvtmglbr7o] {
    background: white;
    border-radius: 50%;
    border: solid 2px white;
}
/* /Shared/Header.razor.rz.scp.css */
header[b-d8tbz6w8ht] {
    width: 100%;
    position: relative;
    color: var(--header-font-color);
    background-color: var(--header-background-color);
    border-bottom: solid;
    border-color: var(--green);
    display: grid;
    grid-template-columns: 150px 300px;
    column-gap: 50px;
}

button[b-d8tbz6w8ht], select[b-d8tbz6w8ht], input[b-d8tbz6w8ht] {
    background-color: var(--header-background-color);
    color: var(--header-font-color);
}

svg.font-icon[b-d8tbz6w8ht] {
    fill: var(--header-font-color);
}

@media only screen and (max-width: 800px) {
    header[b-d8tbz6w8ht] {
        grid-template-columns: unset;
    }
}

.logo-container[b-d8tbz6w8ht] {
    height: 50px;
}

.logo[b-d8tbz6w8ht] {
    width: min-content;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0 0 10px;
    white-space: nowrap;
}

.top-menu[b-d8tbz6w8ht] {
    display: flex;
    align-items: center;
}

.nav-button[b-d8tbz6w8ht] {
    width: max-content;
    min-width: max-content;
    position: relative;
    overflow: visible;
    z-index: 1;
    font-size: 1.2em;
    height: 1.5em;
    border: hidden;
    cursor: pointer;
    fill: var(--header-font-color);
}

    .nav-button[b-d8tbz6w8ht]:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: var(--header-background-color);
    }

    .nav-button[b-d8tbz6w8ht]:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--green);
        transition: all .3s;
        z-index: -1;
    }

    .nav-button:hover[b-d8tbz6w8ht] {
        color: #fff;
        fill: #fff;
    }

        .nav-button:hover[b-d8tbz6w8ht]:before {
            width: 100%;
        }

        .nav-button:hover svg path[b-d8tbz6w8ht] {
            fill: #fff;
        }

@media only screen and (max-width: 800px) {
    .top-menu[b-d8tbz6w8ht] {
        display: block;
    }
}

.colour-theme-toggle-container[b-d8tbz6w8ht] {
    position: absolute;
    right: 50px;
    width: 120px;
}

.colour-theme-toggle-select[b-d8tbz6w8ht] {
    width: 100%;
    margin: 11px;
    height: 28px;
    border-color: var(--green);
    border-width: 2px;
    border-radius: 20px;
    padding-left: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.container[b-5sn7flarxt] {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
}

.main[b-5sn7flarxt] {
    max-width: 960px;
    margin: auto;
    padding-bottom: 50px;
}
