/* /About/About.razor.rz.scp.css */
.about-container[b-ytffqlzly3] {
}

.about-image[b-ytffqlzly3] {
    max-width: 200px;
    float: right;
    margin: 20px;
}

.spacer[b-ytffqlzly3] {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .spacer[b-ytffqlzly3] {
        height: 0;
    }
}
/* /About/AboutSummary.razor.rz.scp.css */
.about-container[b-y6cm1bcxkq] {
    display: flex;
    justify-content: space-evenly;
}

.about-image[b-y6cm1bcxkq] {
    max-width: 200px;
    float: right;
    margin: 20px;
}

.spacer[b-y6cm1bcxkq] {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .spacer[b-y6cm1bcxkq] {
        height: 0;
    }
}
/* /Blogs/Blogs.razor.rz.scp.css */
/* /Blogs/BlogSummary.razor.rz.scp.css */
.summary-container[b-jf9tc8rt7u] {
    padding: 10px;
    border-top: solid;
    border-color: var(--green);
    cursor: pointer;
}

.name-text[b-jf9tc8rt7u] {
    font-weight: bold;
    font-size: 1.15em;
}

.description-text[b-jf9tc8rt7u] {
    font-size: 1em;
}
/* /Blogs/BlogWidget.razor.rz.scp.css */
.is-limited[b-4grcggpj67] {
    cursor: pointer;
}
/* /Blogs/IndividualBlog.razor.rz.scp.css */
.project-not-found[b-3ic48d5n5w] {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}
/* /Home/Home.razor.rz.scp.css */
.content[b-6vpnm4whpw] {
    padding-top: 1.1rem;
}

.widget-container[b-6vpnm4whpw] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}
/* /Markdown/MarkdownComponent.razor.rz.scp.css */
.markdown-contents .*[b-0zwz1lqz6q] {
    max-width: 100%;
}
/* /Projects/IndividualProject.razor.rz.scp.css */
.project-not-found[b-80hklbke03] {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}

.source-code-button[b-80hklbke03] {
    height: 50px;
    border: hidden;
    background-color: var(--background-color);
    cursor: pointer;
    min-width: fit-content;
    z-index: 1;
    font-size: 1.2em;
    float: right;
    display: flex;
    align-items: center;
}

    .source-code-button *[b-80hklbke03] {
        margin: 0 5px 0 5px;
    }
/* /Projects/Projects.razor.rz.scp.css */
/* /Projects/ProjectSummary.razor.rz.scp.css */
.summary-container[b-uka8hmpxh6] {
    padding: 10px;
    border-top: solid;
    border-color: var(--green);
    cursor: pointer;
}

.name-text[b-uka8hmpxh6] {
    font-weight: bold;
    font-size: 1.15em;
}

.description-text[b-uka8hmpxh6] {
    font-size: 1em;
}
/* /Projects/ProjectWidget.razor.rz.scp.css */
.is-limited[b-1q81ugmh92] {
    cursor: pointer;
}
/* /Shared/Footer.razor.rz.scp.css */
.footer-container[b-gvtmglbr7o] {
    width: 100%;
    background-color: var(--background-color);
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: var(--green);
}

.source-code-button[b-gvtmglbr7o] {
    height: 50px;
    border: hidden;
    color: var(--font-color);
    background-color: var(--background-color);
    cursor: pointer;
    min-width: fit-content;
    z-index: 1;
    font-size: 1.2em;
    float: right;
    display: flex;
    align-items: center;
}

    .source-code-button *[b-gvtmglbr7o] {
        margin: 0 5px 0 5px;
    }
/* /Shared/Header.razor.rz.scp.css */
header[b-d8tbz6w8ht] {
    width: 100%;
    position: relative;
    background-color: var(--background-color);
    border-bottom: solid;
    border-color: var(--green);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
    column-gap: 50px;
}

.logo-container[b-d8tbz6w8ht] {
    height: 50px;
    min-width: max-content;
    width: max-content;
}

.logo[b-d8tbz6w8ht] {
    width: min-content;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0 0 10px;
    white-space: nowrap;
}

.top-menu[b-d8tbz6w8ht] {
    display: flex;
    align-items: center;
    min-width: max-content;
    width: max-content;
}

.nav-button[b-d8tbz6w8ht] {
    min-width: max-content;
    width: max-content;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 1.2em;
    border: hidden;
    cursor: pointer;
}

    .nav-button[b-d8tbz6w8ht]:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: var(--background-color);
    }

    .nav-button[b-d8tbz6w8ht]:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--green);
        transition: all .3s;
        z-index: -1;
    }

    .nav-button:hover[b-d8tbz6w8ht] {
        color: #fff;
    }

        .nav-button:hover[b-d8tbz6w8ht]:before {
            width: 100%;
        }


.colour-theme-toggle-container[b-d8tbz6w8ht] {
    width: 120px;
    margin-top: auto;
    margin-bottom: auto;
}

.colour-theme-toggle-select[b-d8tbz6w8ht] {
    width: 100%;
    margin: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.container[b-5sn7flarxt] {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
}

.main[b-5sn7flarxt] {
    max-width: 960px;
    margin: auto;
    padding-bottom: 50px;
}
