:root {
    --green: #90EE90
}

.light-mode {
    --background-color: #ffffff;
    --font-color: #121212;
    --header-background-color: #121212;
    --header-font-color: #ffffff;
    --footer-background-color: #121212;
    --footer-font-color: #ffffff;
    --link-color: -webkit-link;
}

.dark-mode {
    --background-color: #121212;
    --font-color: #ffffff;
    --header-background-color: #121212;
    --header-font-color: #ffffff;
    --footer-background-color: #121212;
    --footer-font-color: #ffffff;
    --link-color: #90EE90;
}

@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata.ttf);
}

body {
    margin: 0px;
    font-family: Inconsolata;
}

button, select, input {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Inconsolata;
}

svg.font-icon {
    fill: var(--font-color);
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.link {
    cursor: pointer;
    color: var(--link-color);
}

    .link:hover {
        color: var(--green);
        text-decoration: underline;
    }

/*loading pages*/

.page-loading-text {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}

.loading-spinner {
    display: inline-block;
    margin: auto 0 auto 5px;
    height: 0.2em;
    width: 0.2em;
    border: 1.5px solid black;
    animation: special 1s ease alternate infinite;
}

@keyframes special {
    from {
        border-radius: 0;
    }

    to {
        border-radius: 50%;
    }
}

@-webkit-keyframes special {
    from {
        border-radius: 0;
    }

    to {
        border-radius: 50%;
    }
}

/*for some reason, the markdown component is playing up with local css...*/
.markdown-contents table {
    border-collapse: collapse;
}

.markdown-contents th, td {
    border: 1px solid var(--font-color);
}

.markdown-contents img {
    max-width: 100%;
}
