@inject NavigationManager _navigationManager;

<div class="summary-container" @onclick="NavigateToBlog">
    <div class="name-text">@BlogDetails.Name</div>
    <div class="description-text">@BlogDetails.Description</div>
    <div class="published-date"><i>@BlogDetails.Published?.ToString("D")</i></div>
</div>

@code {
    [Parameter]
    public string BlogId { get; set; }

    [Parameter]
    public BlogDetails BlogDetails { get; set; }

    private void NavigateToBlog()
    {
        _navigationManager.NavigateTo($"blogpage/{BlogId}");
    }
}
