@inject IBlogService _blogService
@inject IMarkdownService _markdownService
@inject NavigationManager _navigationManager

<div class="widget-container">
    @foreach (var blog in _blogs)
    {
        <BlogSummary BlogId="@blog.Key" BlogDetails="@blog.Value" />
    }
    @if (_isLimited)
    {
        <div class="is-limited" @onclick="@NavigateToBlogs">
            <h4>See more...</h4>
        </div>
    }
</div>

@code {
    [Parameter]
    public int? MaxBlogs { get; set; }

    private IReadOnlyDictionary<string, BlogDetails> _blogs;
    private bool _isLimited;

    protected override async Task OnParametersSetAsync()
    {
        var blogs = _blogService.GetBlogs();
        if (MaxBlogs.HasValue)
        {
            _blogs = blogs.Take(MaxBlogs.Value).ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
            _isLimited = true;
        }
        else
        {
            _blogs = blogs;
            _isLimited = false;
        }

        foreach (var blog in _blogs.Values)
        {
            blog.Published = await _markdownService.GetPublishedDate(blog.MarkdownPage);
        }
    }

    private void NavigateToBlogs()
    {
        _navigationManager.NavigateTo($"blogs");
    }
}
