.resources-search-box {
    padding-left: 10px;
    font-size: 1rem;
    border-color: var(--green);
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    outline-width: 3px;
    outline-color: var(--green);
}
