.summary-container {
    padding: 10px;
    border-top: solid;
    border-color: var(--green);
}

.name-text {
    font-weight: bold;
    font-size: 1.15em;
}

.description-text {
    font-size: 1em;
}

.download-link, .resource-link {
    cursor: pointer;
    color: var(--link-color);
}

    .download-link:hover, .resource-link:hover {
        color: var(--green);
        text-decoration: underline;
    }

.tags {
    font-style: italic;
    font-size: 0.8rem;
}
