@inject IResourceService _resourceService;

<div class="widget-container">
    @foreach (var resource in _resources)
    {
        <ResourceSummary ResourceId="@resource.Key" ResourceDetails="@resource.Value" />
    }
</div>

@code {
    [Parameter]
    public string SearchText { get; set; }

    private IReadOnlyDictionary<string, ResourceDetails> _resources;

    protected override void OnParametersSet()
    {
        _resources = _resourceService.GetResources(SearchText);
    }
}
