@inject IJSRuntime _jsRuntime

<div class="footer-container">
    <button class="source-code-button" @onclick="@(async () => await NavigateToNewTab("https://github.com/benchiverton/Blog"))">
        <img class="github-logo" src="images/GitHub-Mark-32px.png" />
        <div class="source-code-button-text">
            View this site's source code
        </div>
    </button>
</div>

@code {
    private async Task NavigateToNewTab(string url)
    {
        await _jsRuntime.InvokeVoidAsync("blazorOpen", url, "_blank");
    }
}
