.footer-container {
    width: 100%;
    background-color: var(--background-color);
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: var(--green);
}

.source-code-button {
    height: 50px;
    border: hidden;
    color: var(--font-color);
    background-color: var(--background-color);
    cursor: pointer;
    min-width: fit-content;
    z-index: 1;
    font-size: 1.2em;
    float: right;
    display: flex;
    align-items: center;
}

    .source-code-button * {
        margin: 0 5px 0 5px;
    }
