.footer-container {
    width: 100%;
    color: var(--footer-font-color);
    background-color: var(--footer-background-color);
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: var(--green);
}

button, select, input {
    background-color: var(--footer-background-color);
    color: var(--footer-font-color);
}

svg.font-icon {
    fill: var(--footer-font-color);
}

.source-code-button {
    height: 50px;
    border: hidden;
    color: var(--footer-font-color);
    background-color: var(--footer-background-color);
    cursor: pointer;
    min-width: fit-content;
    z-index: 1;
    font-size: 1.2em;
    float: right;
    display: flex;
    align-items: center;
}

    .source-code-button * {
        margin: 0 5px 0 5px;
    }

.github-logo {
    background: white;
    border-radius: 50%;
    border: solid 2px white;
}
