@inject NavigationManager NavigationManager

<header>
    <div class="logo-container">
        <div class="logo" @onclick="@(() => Navigate(""))">BC's blogs</div>
    </div>
    <nav class="top-menu">
        <ul>
            <li>
                <button class="nav-button" @onclick="@(() => Navigate("Blogs"))">
                    Blogs
                </button>
            </li>
            <li>
                <button class="nav-button" @onclick="@(() => Navigate("Projects"))">
                    Projects
                </button>
            </li>
            <li>
                <button class="nav-button" @onclick="@(() => Navigate("About"))">
                    About me
                </button>
            </li>
        </ul>
    </nav>
</header>

@code {
    private void Navigate(string page)
    {
        NavigationManager.NavigateTo(page);
    }
}
