header {
    width: 100%;
    position: relative;
    background-color: white;
    border-bottom: solid;
    border-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
}

.logo-container {
    height: 50px;
}

.logo {
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-button {
    min-width: fit-content;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 1.2em;
    border: hidden;
    background-color: white;
    cursor: pointer;
}

    .nav-button:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .nav-button:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: lightgreen;
        transition: all .3s;
        z-index: -1;
    }

    .nav-button:hover {
        color: #fff;
    }

        .nav-button:hover:before {
            width: 100%;
        }
