@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<header>
    <div class="logo-container">
        <div class="logo" @onclick="@(() => Navigate(""))">BC's blogs</div>
    </div>
    <nav class="top-menu">
        <button class="nav-button" @onclick="@(() => Navigate("Blogs"))">
            Blogs
        </button>
        <button class="nav-button" @onclick="@(() => Navigate("Projects"))">
            Projects
        </button>
        <button class="nav-button" @onclick="@(() => Navigate("About"))">
            About me
        </button>
    </nav>
</header>

@code {
    private void Navigate(string page)
    {
        NavigationManager.NavigateTo(page);
    }

    private async Task NavigateToNewTab(string url)
    {
        await JsRuntime.InvokeAsync<object>("open", url, "_blank");
    }
}
