@page "/about"

@inject NavigationManager _navigationManager;

<div class="about-container">
    <img class="about-image" src="images/about/profile_halong.png" />
    <h2>👱 Who am I?</h2>
    <p>
        I'm Ben, and I'm a software engineer.
        I have experience building financial systems within the funds and investments space.
    </p>
    <p>
        Within technology, my main interests are understanding how systems scale with businesses, and how technology teams scale with systems.
        My preferred approach to system design follows the principles of domain-driven design - I believe thorough business understanding and bounded contexts are key to building correct, efficient and scalable systems.
    </p>
    <p>
        In my spare time, I mess around with new tech, usually using the .NET platform.
        Check out my <a class="link" href="/projects">projects</a> to see what I've been messing around with recently.
    </p>
    <h2>🌐 What is this website?</h2>
    <p>
        This website is here to showcase the projects/blogs I've been working on. It's an index I use to quickly find resources that I often refer to.
    </p>
    <p>
        The blogs and projects are usually software based, discussing engineering concepts or demonstrating something I've hacked together.
        The resources are anything from software documentation to coding exercises to articles I enjoyed reading - the tags are the best way to search for similar resources.
    </p>
    <hr class="extra-splitter" />
    <div class="about-extra-container">
        <div>
            <h2>🏠 Home</h2>
            <p>
                I am currently based in Camden, London, where I've been living for the past @(DateTime.Now.Year - 2017) years.
                I still enjoy explorint the city - after all, as someone famous once said...
            </p>
            <div class="samuel-johnson-container">
                <img class="samuel-johnson-image" src="images/about/Samuel_Johnson_by_Joshua_Reynolds.png" />
                <p class="samuel-johnson-quote"><i>"When a man is tired of London, he is tired of life, for there is in London all that life can afford."</i></p>
            </div>
        </div>
        <div>
            <h2>📜 History</h2>
            <p>
                I grew up in Fleet, Hampshire, and attended Farnborough Sixth Form where I studied maths, further maths and physics.
                I went to Warwick University and studied maths and statistics, which I dropped after second year to pursue an opportunity I was offered in software engineering.
            </p>
        </div>
    </div>
</div>
