.about-container {
    display: inline-block;
}

.about-image {
    max-width: 200px;
    float: right;
    margin: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .spacer {
        height: 0;
    }
}

.extra-splitter {
    border: none;
    border-top: solid var(--green);
}

.about-extra-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}

.home-picture-container {
    min-height: 120px;
    contain: content;
}

.home-picture-quote {
    text-align: center;
    vertical-align: middle;
}

.home-picture-image {
    max-width: 100px;
    float: left;
    border-radius: 20px;
}
