@page "/about"

<div class="about-container">
    <img class="about-image" src="images/about/profile_halong.png" />
    <h2>👱 Who am I?</h2>
    <p>
        I'm Ben, a software engineer with experience in the FinTech space.
    </p>
    <p>
        Within technology, my main interests are understanding how systems scale with businesses, and how technology teams scale with systems.
    </p>
    <p>
        In my spare time, I mess around with new tech, usually using the .NET platform.
        Check out my <a class="link" href="projects">projects</a> to see what I've been messing around with recently.
    </p>
    <h2>🌐 What is this website?</h2>
    <p>
        This website is here to showcase the projects/blogs I've been working on. It's an index I use to quickly find resources that I often refer to.
    </p>
    <p>
        The blogs and projects are usually software based, discussing or demonstrating concepts I find interesting.
        The resources are anything from software documentation to coding exercises to articles I enjoyed reading. Tags are the best way to search for similar resources.
    </p>
    <hr class="extra-splitter" />
    <div class="about-extra-container">
        <div>
            <h2>🏠 Home</h2>
            <p>
                I live and work in London, UK.
                I still enjoy exploring the city - after all, as someone once said...
            </p>
            <div class="home-picture-container">
                <img class="home-image" src="images/about/Samuel_Johnson_by_Joshua_Reynolds.png" />
                <p class="home-quote"><i>"When a man is tired of London, he is tired of life, for there is in London all that life can afford."</i></p>
            </div>
        </div>
        <div>
            <h2>📜 History</h2>
            <p>
                I grew up in Fleet, Hampshire, and attended Farnborough Sixth Form where I studied maths, further maths and physics.
                After college, I studied maths and statistics Warwick University, before jumping into a tech internship.
            </p>
        </div>
    </div>
</div>
