<div class="about-container">
    <div class="about-text-container">
        <img class="about-image" src="images/about/profile.png" />
        <div class="spacer" />
        <h4>
            Welcome to my blog! Here you'll find some of my personal projects, and also some of my thoughts on things I don't really understand.
        </h4>
        <h4>
            The purpose of this website is to act as a personal index for 'stuff I have done and thought about'.
        </h4>
    </div>
</div>
