.about-container {
    display: flex;
    justify-content: space-evenly;
}

.about-image {
    max-width: 200px;
    float: right;
    margin: 20px;
}

.spacer {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .spacer {
        height: 0;
    }
}
