@page "/about"

<div class="about-text-container">
    <img class="about-image" src="images/about/profile.png" />
    <div class="spacer" />
    <h2>Who am I?</h2>
    <h4>TODO</h4>
    <h2>What is this site?</h2>
    <h4>TODO</h4>
    <hr class="extra-splitter" />
    <div class="about-extra-container">
        <div>
            <h2>Home</h2>
            <h4>TODO</h4>
        </div>
        <div>
            <h2>History</h2>
            <h4>TODO</h4>
        </div>
    </div>
</div>
