.content {
    padding-top: 1.1rem;
}

.widget-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}

.resources-widget {
    display: flex;
    border-style: dashed;
    border-color: var(--green);
    padding: 10px;
}

.resources-search {
    margin-left: auto;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
