@page "/"

@using BenChiverton.Blog.About;
@using BenChiverton.Blog.Blogs;
@using BenChiverton.Blog.Projects;

<AboutSummary />

<div class="widget-container">
    <div class="project-widget">
        <h2>Projects</h2>
        <ProjectWidget MaxProjects="5" />
    </div>
    <div class="blog-widget">
        <h2>Blogs</h2>
        <BlogWidget MaxBlogs="5" />
    </div>
</div>
