name: Deploy to GitHub Pages

on: [push]

env:
  PROJECT_LOCATION: src/BenChiverton.Blog/
  PROJECT_FILE: BenChiverton.Blog.csproj
  BUILD_LOCATION: build/

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 8.0.203
    - name: Publish with dotnet
      run: dotnet publish ${{ env.PROJECT_LOCATION }}${{ env.PROJECT_FILE }} --configuration Release --output ${{ env.BUILD_LOCATION }}
    - name: Deploy to Github Pages
      uses: JamesIves/github-pages-deploy-action@v4.6.0
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: ${{ env.BUILD_LOCATION }}wwwroot
