@inject NavigationManager _navigationManager

<div class="summary-container" @onclick="NavigateToProject">
    <div class="name-text">@ProjectDetails.Name</div>
    <div class="description-text">@ProjectDetails.Description</div>
</div>

@code {
    [Parameter]
    public string ProjectId { get; set; }

    [Parameter]
    public ProjectDetails ProjectDetails { get; set; }

    private void NavigateToProject()
    {
        _navigationManager.NavigateTo($"project/{ProjectId}");
    }
}
