@inject IProjectService _projectService
@inject NavigationManager _navigationManager;

<h2>Projects</h2>

<div class="widget-container">
    @foreach (var project in _projects)
    {
        <ProjectSummary ProjectId="@project.Key" ProjectDetails="@project.Value" />
    }
    @if (_isLimited)
    {
        <div class="is-limited" @onclick="@NavigateToProjects">
            <h4>See more...</h4>
        </div>
    }
</div>

@code {
    [Parameter]
    public int? MaxProjects { get; set; }

    private IReadOnlyDictionary<string, ProjectDetails> _projects;
    private bool _isLimited;

    protected override void OnParametersSet()
    {
        var projects = _projectService.GetProjects();
        if (MaxProjects.HasValue)
        {
            _projects = projects.Take(MaxProjects.Value).ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
            _isLimited = true;
        }
        else
        {
            _projects = projects;
            _isLimited = false;
        }
    }

    private void NavigateToProjects()
    {
        _navigationManager.NavigateTo($"projects");
    }
}
